coverage==4.3.1
funcsigs==1.0.2
inflection==0.3.1
mock==2.0.0
pbr==1.10.0
py==1.4.32
pycodestyle==2.4.0
pytest==3.0.5
pytest-cov==2.4.0
pytest-sugar==0.8.0
python-coveralls==2.9.0
PyYAML==3.12
requests==2.12.4
six==1.10.0
termcolor==1.1.0
Werkzeug==0.14.1
